# SPDX-FileCopyrightText: 2024 Benedikt Franke <benedikt.franke@dlr.de>
# SPDX-FileCopyrightText: 2024 Florian Heinrich <florian.heinrich@dlr.de>
#
# SPDX-License-Identifier: Apache-2.0

*
!docker
!fl_server
!fl_server_ai
!fl_server_api
!fl_server_core
!manage.py
!pyproject.toml
!README.md
**/__pycache__
